.banner{
    background: url("https://wallpapers.com/images/hd/premier-league-background-3f414ro7305e194l.jpg")
     no-repeat center center;
     background-size: cover;
     padding-top: 20%;
     padding-bottom: 20px;
     color:azure;
     
}